.z-canvas-wrapper {
  border: 3px #D2A46B solid;
  border-radius: 0.3em;
  width: max-content;
}

.z-canvas-wrapper-upper {
  text-align: center;
}

.z-canvas-wrapper-middle {
  text-align: center;
}

.z-canvas-wrapper-lower {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.zcanvas:focus {
  padding: 0;
  outline: 0;
}