#Info-wrapper {
    display: flex;
    height: 100%;
}

#Info-left-wrapper {
    flex: 3;
    padding: 25px 10px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Info-right-wrapper {
    height: 100%;
    flex: 7;
    padding: 20px 10px 20px 50px;
    display: flex;
    flex-direction: column;
}

#Info-avator {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Info-right-header {
    padding: 5px 10px 0px 10px;
    flex: 1;
    display: flex;
}

#Info-right-section {
    flex: 12;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#Info-select {
    flex: 9;
}

#Info-del {
    flex: 2;
    padding-left: 20px;
}

#Info-add {
    flex: 2;
    padding-left: 10px;
}

.Info-del-btn:hover {
    background-color: rgb(234, 101, 101) !important;
}

.Info-add-btn:hover {
    background-color: rgb(245, 213, 37) !important;
}

#Map-Modal-xyz-wrapper {
    display: flex;
    flex-direction: row;
}

.Map-Modal-xyz {
    margin: 0 5px 0 5px;
}